.wrapped {
    background: #7DCB56;
}

.filters {
    // border: 1px solid black;
    width: 25%;
    height: 1000px;
    float: left;
}

.recipes {
    // border: 1px solid red;
    width: 100%;
    height: 1000px;
    // display:flex;
    // float: right;
    // justify-content:right;
}

.recipeGrid {
    font-weight: bold;
}

.ingredientsTitle {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.ingredients {
    float: center;
    height: 33%;
    padding: 5px 5px 5px 5px;
}

.sortingGroup {
    background: white;
    border: 1px solid black;
    margin: 10px 10px 10px 10px;
    height: 33%;
    padding: 5px 5px 5px 5px;
}

.filteringGroup {
    background: white;
    border: 1px solid black;
    margin: 10px 10px 10px 10px;
    height: 37%;
    padding: 5px 5px 5px 5px;
}
.sortTitle {
    margin-top:10px;
    text-align: center;
}

.recipesTitle {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.sortButton {
    width:60%;
    margin-left:20%;
    margin-right:20%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}